#appointmentList::-webkit-scrollbar {
  width: 0.25rem;
}

#appointmentList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

#appointmentList::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5rem #7098da;
}